<div class="content">
    <div class="col">
        <mat-card class="card-chart">
            <mat-card-header>
                <mat-card-title>Parâmetros</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field class="year-selector">
                    <mat-select placeholder="Selecione o ano para visualizar o histórico" (selectionChange)="onSelectYear($event)" [value]="years[0].value">
                        <mat-option *ngFor="let year of years" [value]="year.value">
                            {{year.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="period-selector" style="margin-left:40px">
                    <mat-select placeholder="Selecione o período de tempo" [value]="period" (selectionChange)="onSelectPeriod($event)">
                        <mat-option *ngFor="let p of periods" [value]="p.value">
                            {{p.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-slide-toggle style="margin-left:150px" title="Tipo do Modelo" matInput [checked]="modelType" (change)="onCheck($event)">
                    {{labelModelType}}
                </mat-slide-toggle>
                <app-bairro-search (bairrosChanged)="onBairrosChanged($event)"></app-bairro-search>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="content">
    <div class="col col-60">
        <app-chart [title]="chartNeighborhoodSerial.title" [options]="chartNeighborhoodSerial.options" [subtitle]="chartNeighborhoodSerial.subtitle" [type]="chartNeighborhoodSerial.type"
            [dataset]="chartNeighborhoodSerial.dataset"></app-chart>

    </div>
    <div class="col col-40">
        <app-chart [title]="chartNeighborhoodPie.title" [subtitle]="chartNeighborhoodPie.subtitle" [type]="chartNeighborhoodPie.type"
            [dataset]="chartNeighborhoodPie.dataset"></app-chart>
    </div>
</div>
<div class="content">
    <div class="col">
        <app-chart [title]="chartBairroTrend.title" [options]="chartBairroTrend.options" [subtitle]="chartBairroTrend.subtitle" [type]="chartBairroTrend.type" [dataset]="chartBairroTrend.dataset"></app-chart>
    </div>
</div>
<div class="content">
    <div class="col">
        <app-chart [title]="chartBairroSeasonal.title" [options]="chartBairroSeasonal.options" [subtitle]="chartBairroSeasonal.subtitle" [type]="chartBairroSeasonal.type"
            [dataset]="chartBairroSeasonal.dataset"></app-chart>
    </div>
</div>
<div class="content">
    <div class="col">
        <app-chart [title]="chartBairroResid.title" [options]="chartBairroResid.options" [subtitle]="chartBairroResid.subtitle" [type]="chartBairroResid.type" [dataset]="chartBairroResid.dataset"></app-chart>
    </div>
</div>