<mat-form-field class="bairro-selector">
    <input type="text" placeholder="Escolha um" aria-label="Bairro" matInput [formControl]="bairroSelectInput" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option class="bairro" *ngFor="let bairro of bairros$ | async" [value]="bairro.name" (click)="onBairroSelected(bairro)">
            {{bairro.name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<mat-chip-list class="bairros-selecionados">
    <mat-chip class="bairro" *ngFor="let bairro of bairrosSelected" (click)="onRemoveBairro(bairro)">{{bairro.name}}</mat-chip>
</mat-chip-list>
